html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}
.active{
    background-color:#fffbfb;
    box-shadow: 5px 1px 5px 1px  #000000;
    
    /* text-decoration:black underline; */
    /* color: #000000 !important; */
    }

.topnav {
    overflow: hidden;
    background-color: #ffffff; /* Dark blue color */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #000000;
    z-index: 1;
    margin: 0;
    box-shadow: 5px 1px #dcdde1;

}
.topnav #nav-icon1 {
    position: relative;
    margin-right: 800px;
    padding-top: 5px;
}

.topnav .logo {
    font-weight:bold;
    font-size: x-large;
    /* position: relative; */
    
}
.topnav >#sub-title{
   margin-left: 60px;
   position: fixed;
   color: #171717;
   font-size: medium;
   padding-top: 17px;
}
.topnav .right-section {
    display: flex;
    align-items: center;
}

.topnav .welcome {
    margin-right: 10px;
}
.right-section  > #img1{
    margin-right: 10px;
}
.right-section a > #img2{
    margin-right: 40px;
}

.topnav .icon img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #ffffff; /* Dark grey color */
    overflow-x: hidden;
    padding-top: 20px;
    color: #000000;
    position: fixed;
    box-shadow: 1px 1px #dcdde1;
    
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
}

.sidebar a:hover {
    background-color:#131313 ;
    color: #ffffff;
    /* text-decoration: underline; */
}

.content {
    margin-top: 60px;
    margin-left: 260px;
    padding: 20px;
    
}
.content >h1 {
    text-align: center;
    
}

.request-options {
    display: flex;
    gap: 240px;
    flex-wrap: wrap;
    row-gap: 40px;
    grid-column: span 3;
}

.request-options button {
    background-color: #6A5ACD; /* Purple color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.request-options button:hover {
    background-color: #5a4eb7; /* Darker purple color */
}

.Login-container{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 200px ;
}
.Login-container .Heading{
    font-size: x-large;
}

.Login-container .input-user {
    padding-top: 30px;
    padding-left: 15px;
  
}
.input-user input{
    border: none;
    border-bottom: 3px solid rgb(167, 168, 167); 
    outline: none;
    font-size: x-large;
    /* text-align: center; */
}

.Login-container .input-password{
 padding-top: 35px;
 padding-left: 15px;
}
.input-password input{
    border: none;
    border-bottom: 3px solid rgb(167, 168, 167); 
    outline: none;
    font-size: x-large;
    /* text-align: center; */

}
.Login-container .btn{
    text-align: center;
    padding-top: 35px;
    padding-right: 15px;
}
.btn  button{
 background-color: #000000;
 color: #ffffff;
 border-radius: 30px;
 width: 100px;
 height: 35px;
 font-size: x-large;
 text-decoration: none;
}

.input-user >:hover{

    border-bottom: 3px solid rgb(0, 0, 0); 
}

.input-password >:hover{
    border-bottom: 3px solid rgb(0, 0, 0); 
}

/* .input-user >input[type="text"] {
    border-bottom: 3px solid rgb(0, 0, 0); 
} */

